@import "tailwindcss";
* {
  /* background-color: #fff2f2; */
  color: black;
  font-family: "Times New Roman", Times, serif;
  background-image: url("../assets/aboutImage.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
